<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>FailPoints</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>

        body {
            min-height: 100vh;
            min-height: -webkit-fill-available;
        }

        html {
            height: -webkit-fill-available;
        }

        main {
            display: flex;
            flex-wrap: nowrap;
            height: 100vh;
            height: -webkit-fill-available;
            max-height: 100vh;
            overflow-x: auto;
            overflow-y: hidden;
        }


        .bi {
            vertical-align: -.125em;
            pointer-events: none;
            fill: currentColor;
        }

        .nav-flush .nav-link {
            border-radius: 0;
        }

        .btn-toggle-nav a {
            display: inline-flex;
            padding: .1875rem .5rem;
            margin-top: .125rem;
            margin-left: 1.25rem;
            text-decoration: none;
        }

        .btn-toggle-nav a:hover,
        .btn-toggle-nav a:focus {
            background-color: #d2f4ea;
        }

    </style>

</head>
<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>
    <symbol id="table" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
    </symbol>
</svg>

<main>

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;height: 100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-cloud-rain-fill" viewBox="0 0 16 16">
                <path d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm3 0a.5.5 0 0 1 .316.633l-1 3a.5.5 0 1 1-.948-.316l1-3a.5.5 0 0 1 .632-.317zm3 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm3 0a.5.5 0 0 1 .316.633l-1 3a.5.5 0 1 1-.948-.316l1-3a.5.5 0 0 1 .632-.317zm.247-6.998a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973z"/>
            </svg> &nbsp;
            <span class="fs-4">FailPoints</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"/>
                    </svg>
                    Overview
                </a>
            </li>
        </ul>
        <hr>
    </div>

    <table class="table" style="width: 100vw;">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Location</th>
            <th scope="col">Error</th>
            <th scope="col">Active</th>
            <th scope="col">Filter Tags (comma separated)</th>
        </tr>
        </thead>
        {{ $failPoints := .FailPoints}}
        {{ range $location, $failpoint := .FailPointLocations }}
            <tr>
                <td class="scope"><span>{{ $location }}</span></td>
                <td class="scope">
                    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                        <div class="list-group list-group-flush border-bottom ">
                            <select class="form-select" aria-label="Default select example" id="select__{{ $location }}"
                                    onchange="updateFailPoint({{$location}})">
                                {{ range $fp := $failPoints }}
                                    <option {{ if eq $fp.ErrorName $failpoint.ErrorName }} selected {{ end }}
                                            value={{ $fp.ErrorName }}>{{ $fp.ErrorName }}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>
                </td>
                <td class="scope">
                    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                        <label for="ft__{{$location}}"></label>
                        {{ $filterTags := join $failpoint.FilterTags "," }}
                        <input class="form-control" type="text" id="ft__{{$location}}" value="{{$filterTags}}"></input>
                    </div>
                </td>
                <td class="scope">
                    <div class="form-check form-switch">
                        <label for="cb__{{$location}}"></label>
                        <input class="form-check-input" type="checkbox" {{ if eq $failpoint.IsActive true}} checked
                               {{ end }}id="cb__{{$location}}" onchange="updateFailPoint({{$location}})">
                    </div>
                </td>

            </tr>
        {{ end }}
    </table>


</main>

</body>
<script>
    function updateFailPoint(codeLocationName) {
        let select = document.getElementById('select__' + codeLocationName);
        let active = document.getElementById('cb__' + codeLocationName);
        let filterTags = document.getElementById('ft__' + codeLocationName);
        let body = {
            codeLocationPointName: codeLocationName,
            failPointCode: select.value,
            active: active.checked,
            filterTags: filterTags.value
        };
        fetch({{.UpdateFailPointsEndpoint}}, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(body),
        }).then(value => console.log(value))
    }
</script>
</html>
